.footer {
  transition: background-color 0.3s ease;
}

#footer {
  /* Domyślne style dla tekstu */
  transition: background-color 0.3s ease;
  color: black !important;
}

.dark-mode #footer {
  /* Dodaj białą kolor dla tekstu w trybie nocnym */
  transition: background-color 0.3s ease;
  color: white !important;
}
